.footer {
  width: 100vw;
  height: calc(100%-90vh);
  padding: 5px;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0vh;
}

.footer>p {
  font-size: 16px;
}