<%= render "shared/header" %>

<div class="wrapper">
  <div class = "side-bar">
    <%= render "side_bar" %>
    <div class = "side-bar2">
    </div>
  </div>
  <div class = "chat">
    <%= render "main_chat" %>
    <div class = "chat2">
    </div>
    <div class = "chat3">
    </div>
  </div>
</div>

<%= render "shared/footer" %>