a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  flex-wrap: wrap;
  background-color: #FFF;
  border: 0 30vw;
  margin: 0 5vw;
}

.item-img-content {
  position: absolute;
}

.item-img {
  width: 20vh;
  height: 25vh;
  padding: 0px;
}

.item-lists {
  width: 10vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 50px;
  background-color: #FFF;
}

.item-img-content,
.item-name,
.item-quantity,
.item-category{
  text-align: center;
}