@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  flex-wrap: wrap;
  background-color: #FFF;
  border: 0 30vw;
  margin: 0 5vw;
}

.item-contents{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th{
  font-family: 'M PLUS 1p', sans-serif;
  text-align: center;
  color:white;
  background: linear-gradient(navy,black);
  border: 1px  1px solid black;
  box-shadow: 15px 15px rgba(10, 7, 7, 0.3) inset;
  width: 15%;
  padding: 5px 0;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 20vh;
  height: 25vh;
  padding: 0px;
}

.item-lists {
  width: 10vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 50px;
  background-color: #FFF;
}

.item-img-content,
.item-name,
.item-quantity,
.item-category{
  text-align: center;
}