.items-info-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

th {
  white-space: nowrap;
}

.items-info-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.item-img-content {
  position: relative;
}

.item-box-img {
  height: 60vh;
  width: 60vw;
  object-fit: contain;
}

.items-info-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /共通 */

/* 物資画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /物資画像 */

/* 物資名と物資説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}
/* /物資名と物資説明 */

/* 物資の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 500px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}
/* /物資の詳細など */


/* 下部ボタン */
.item-register-btn-contents {
  width: 100%;
  text-align: center;
}

.item-register-btn {
  background: black;
  border: 1px solid black;
  color: #fff;
  padding: 15px 35%;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5vh;
}

.back-btn {
  background: rgb(47, 39, 82);
  border: 1px solid black;
  color: #fff;
  padding: 15px 35%;
  font-size: 18px;
  text-decoration: none;
}
/* /下部ボタン */

.item-registration-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item-registration-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}