.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 100vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  position: relative;
  padding-right: 20%;
  height: 45vh;
  width: 55vw;
  min-height: 100vh;
  object-fit: contain;
}

.item-navy-btn {
  text-align: center;
  background-color: navy;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-destroy {
  text-align: center;
  background-color: lightgray;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}